.__route-su-set-rules {
  .show-overflow {
    overflow-y: visible;
  }
  table {
    th {
      &.clickable {
        cursor: pointer;
        transition: background-color $animation-speed;

        &:hover {
          background-color: darken($blue, 5%);
        }
        &:active {
          background-color: darken($blue, 10%);
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}