.__su-loader {
  padding: $size-s 0;
  text-align: center;

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid $gray;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
    animation: fx 1000ms ease infinite 0ms;
    &:nth-child(2) {
      -webkit-animation: fx 1000ms ease infinite 300ms;
      animation: fx 1000ms ease infinite 300ms;
    }
    &:nth-child(3) {
      -webkit-animation: fx 1000ms ease infinite 600ms;
      animation: fx 1000ms ease infinite 600ms;
    }
  }

  @-webkit-keyframes fx {
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }


  @keyframes fx {
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}