.__su-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th {
    background-color: $blue;
    color: $white;
    padding: $size-xs;
    font-weight: 100;
  }
  td {
    padding: $size-xs;
  }
  tr {
    background-color: $white;
    transition: background-color $animation-speed;
    &:hover {
      background-color: darken($color: $white, $amount: 5%);
    }

    &:nth-of-type(2n+1) {
      background-color: $gray-light;
      &:hover {
        background-color: darken($color: $gray-light, $amount: 5%);
      }
    }
  }
}