* {
  box-sizing: border-box;
  line-height: 1.4;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 300;
}

@import 'variables';
@import './mixins/mixins';
@import 'login';
@import 'icons';
@import 'grid';
@import 'su-content-container';
@import 'su-card';
@import 'su-header';
@import 'su-checkbox';
@import 'su-radio';
@import 'su-input';
@import 'su-textarea';
@import 'su-sidebar';
@import 'su-file-drop';
@import 'su-button';
@import 'su-bubble';
@import 'su-item';
@import 'su-status-item';
@import 'su-datepicker';
@import 'su-select';
@import 'su-table';
@import 'su-modal';
@import 'su-prompt';
@import 'su-hamburger';
@import 'su-range';
@import 'su-loader';
@import 'docs';
@import 'rules';

#app-mount {
  position: absolute;
  height: 100%;
  width: 100%;
}

body, html {
  background-color: $gray-light;
}

hr {
  border: thin none;
  border-bottom: 2px solid $gray-light;
}

a {
  @include color-hoverable-active($blue);
  font-weight: 300;
}

.maxed {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.fill {
  width: 100%;
}
.offset-bottom {
  margin-bottom: $size-s;
}

.small-font {
  &, * {
    font-size: $font-size-xs;
  }
}

.medium-font {
  &, * {
    font-size: $font-size-s;
  }
}

.padded-top {
  padding-top: #{$size-xs * 2};
}

.padded-bottom-thick {
  padding-bottom: #{$size-xxl * 6};
}

.rubber-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-scroll {
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}
